{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <section>
{#        <div class="alert alert-light text-center" role="alert">#}
{#            test alert#}
{#        </div>#}
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">Store</h1>
                    <p>
                        New looks and top brands on Store.
                        Free shipping worldwide!
                        {% if is_promotion %}
                        <br>Outlet: up to -70% Own Brand. -20% to new customers.
                        {% endif %}
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products:index' %}">
                            Start shopping
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}